<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sntap.style.citypickerview">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sntap.style.citylist.CityListSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged">
        </activity>
        <activity
            android:name="com.sntap.style.citythreelist.ProvinceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged">
        </activity>
        <activity
            android:name="com.sntap.style.citythreelist.CityActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged">
        </activity>
        <activity
            android:name="com.sntap.style.citythreelist.AreaActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateUnchanged">
        </activity>
    </application>

</manifest>